node_modules/
yarn-error.log
keystore.db
contracts/artifacts/checksums*
.jest

# IDEs
*.iml
.idea
.DS_Store
*_action.json
.vscode

write-file-atomic*

# test contracts build results
src/test_contracts/target
src/test_contracts/utils/check_contract/target